:ruby
  readings = Booklog.readings_for_book_id(book_id: book.id)
  authors = book.authors.map(&:name).to_sentence
  divider = '<span class="review_meta-divider">|</span>'

.review_meta
  .review_meta-title
    = book.title
  - if book.aka_titles.any?
    %span.review_meta-aka
      %span.review_meta-aka_heading
        aka
      - book.aka_titles.each do |aka_title|
        %span.review_meta-aka_title
          = " #{aka_title.gsub(/\([^\)]+\)$/, '').strip} "
  .review_meta-author
    by #{book.authors.map { |a| author_link(author: a) }.join(' & ')}
  .review_meta-info
    #{book.year_published} #{divider} #{book.page_count} pp.
  .review_meta-read
    = "I've read it "
    %a{ href: "/readings/?isbn=#{URI.escape(book.isbn)}" }
      = "#{pluralize(readings.length, 'time')}."
