:ruby
  readings = Booklog.readings_for_id(id: review.book_id)
  authors = review.authors.to_sentence
  divider = '<span class="review_meta-divider">|</span>'
  info = Booklog.info_for_book(id: review.book_id)

.review_meta
  .review_meta-title
    = review.title
  - if info.aka_titles
    %span.review_meta-aka
      %span.review_meta-aka_heading
        aka
      - info.aka_titles.each do |aka_title|
        %span.review_meta-aka_title
          = " #{aka_title.gsub(/\([^\)]+\)$/, '').strip} "
  .review_meta-author
    by #{review.authors.map { |a| author_link(author: a) }.join(' & ')}
  .review_meta-info
    #{info.date_published.year} #{divider} #{info.page_count} pp.
  .review_meta-read
    = "I've read it "
    %a{ href: "/readings/?title=#{URI.escape(review.title)}" }
      = "#{pluralize(readings.length, 'time')}."
