:ruby
  readings = Booklog.readings_for_book_id(book_id: review.id)

.review_meta
  .review_meta-title
    #{review.title} (#{review.year_published})
  - if review.aka_titles.any?
    %span.review_meta-aka
      %span.review_meta-aka_heading
        aka
      - review.aka_titles.each do |aka_title|
        %span.review_meta-aka_title
          = " #{aka_title.gsub(/\([^\)]+\)$/, '').strip} "
  .review_meta-author
    by #{review.authors.map { |a| author_link(author: a) }.join(' & ')}
  .review_meta-read
    = "I've read it "
    %a{ href: "/readings/?title=#{URI.escape(review.title_with_author)}" }
      = "#{pluralize(readings.length, 'time')}."
