---
layout: :layout_single
---
:ruby
  book = Booklog.books[review.book_id]
  description = Nokogiri::HTML(first_paragraph(review.content)).text
  content_for(:inline_css, 'source/templates/review/review.scss')
  content_for(:title, "#{book.title} Movie Review")
  content_for(:javascript, javascript_include_tag('load-covers.js', async: :async))
  author = book.authors.map(&:name).to_sentence

  review_content = lambda do |r|
    content = r.content
    grade = "<p><strong>Grade: #{r.grade}</strong>"

    md = markdown(content + grade)
    md.sub('<p>', "<p data-time=\"#{r.date.strftime('%b %-d, %Y')}\">")
  end

- content_for(:head) do
  %meta{ name: 'description', content: description }
  %meta{ property: 'og:title', content: "#{book.title_with_author} Book Review" }
  %meta{ property: 'og:url', content: "https://www.franksmovielog.com/reviews/#{review.book_id}" }
  %meta{ property: 'og:image', content: book.cover }
  %meta{ property: 'og:description', content: description }
  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:site', content: '@franksbooklog' }
  %meta{ name: 'twitter:title', content: "#{book.title_with_author} Book Review" }
  %meta{ name: 'twitter:description', content: description }
  %meta{ name: 'twitter:image', content: book.cover }

%article.review
  = partial('components/post_content/post_content') do
    .review-cover_wrap{ href: href_for_review(review) }
      .review-cover{ data: { cover: book.cover } }
        %img.review-cover_placeholder{ src: book.cover_placeholder }
        %noscript
          %img.cover-noscript{ src: book.cover }
    %h1.review-title
      = book.title
    .review-author
      by #{book.authors.map { |a| author_link(author: a) }.join(' & ')}

    = grade_to_image_tag(grade: review.grade, options: { class: 'review-grade' })

    = review_content.call(review)
    = partial('templates/review/review_meta', locals: { book: book })


%script{ type: 'application/ld+json' }
  :plain
    {
      "@context":"http://schema.org",
      "@type":"Review",
      "author":{
        "@type":"Person",
        "name":"Frank Showalter",
        "sameAs":"https://www.frankshowalter.com"
      },
      "datePublished":"#{review.date.iso8601}",
      "description":"#{truncate(description, length: 200)}",
      "inLanguage":"en",
      "itemReviewed":{
        "@type":"Book",
        "name":"#{book.title}",
        "isbn":"#{book.isbn}",
        "datePublished":"#{book.year_published}",
        "author": {
          "@type":"Person",
          "name":"#{author}"
        }
      },
      "publisher":{
        "@type":"Organization",
        "name":"Frank's Book Log",
        "sameAs":"https://booklog.frankshowalter.com"
      },
      "reviewRating":{
        "@type":"Rating",
        "ratingValue": #{Booklog::ConvertGradeToNumber.call(grade: review.grade) / 3}
      }
    }

