:ruby

  date_for_reading = lambda do |reading|
    date_slug = "#{reading.date_started.strftime("%B %d, %Y")} to #{reading.date_finished.strftime("%%B d, %Y")}."

    if reading.date_started.year == reading.date_finished.year &&
      reading.date_started.month == reading.date_started.month
      date_slug = "#{reading.date_started.strftime("%B %d")} to #{reading.date_finished.strftime("%d, %Y")}"
    end

    date_slug
  end

%ol.readings_list#readings
  - readings.reverse.each do |reading|
    - review = Booklog.reviews[reading.book_id]
    - book = Booklog.books[reading.book_id]
    %li.readings_list-item{ data_for_reading(book: book, reading: reading) }
      .readings_list-item_title
        - if review
          %a{ href: href_for_review(review) }
            = book.title_with_author
        - else
          = book.title_with_author
      %div{ class: "readings_list-item_slug #{'with-rating' if review}" }
        = "Read from #{date_for_reading.call(reading)}."
