:ruby

%ol.readings_list#readings
  - readings.reverse.each do |reading|
    - review = Booklog.reviews[reading.book_id]
    %li.readings_list-item{ data_for_reading(reading: reading) }
      .readings_list-item_title
        - if review
          %a{ href: href_for_review(review) }
            = reading.title
            %span.readings_list-item_author
              = " by #{reading.authors.map(&:name).to_sentence}"
        - else
          = reading.title_with_author
      .readings_list-item_slug
        %span.readings_list-item_pages
          pp. #{reading.pages_read}/#{reading.pages_total}
        %span.readings_list-item_divider
          = ' | '
        #{reading.date_started.strftime('%b %d, %Y')} to #{reading.date_finished.strftime('%b %d, %Y')}

