---
layout: false
---
!!! XML
%feed{ xmlns: 'http://www.w3.org/2005/Atom' }
  - posts = Booklog::App.posts
  - sorted_keys = posts.keys.sort.reverse
  %title= site.title
  %link{ href: "#{site.url}feed.xml", rel: 'self' }/
  %link{ href: "#{site.url}" }/
  %updated= Time.now.xmlschema
  %id= site.url
  %author
    %name= site.author

  - sorted_keys.each_with_index do |key, index|
    - break if index > 9
    - post = posts[key]
    %entry
      - if post.kind_of?(Booklog::Review)
        - review = post
        %title
          #{review.sequence}. #{review.title} by #{review.authors.to_sentence} #{grade_to_text(review.grade)}
        %link{ href: "#{site.url}reviews/#{review.slug}" }
        %id= "#{site.url}reviews/#{review.slug}"
      - else
        %title
          #{post.sequence}. #{post.title}
        %link{ href: "#{site.url}features/#{post.slug}" }
        %id= "#{site.url}features/#{post.slug}"
      %updated= post.date_finished.xmlschema
      %content{ type: 'html' }
        = CGI.escapeHTML(markdown(post.content))
