---
layout: false
---
!!! XML
%feed{ xmlns: 'http://www.w3.org/2005/Atom' }
  - posts = Booklog.posts
  - sorted_keys = posts.keys.sort.reverse
  %title= Booklog.site_title
  %link{ href: "#{Booklog.site_url}/feed.xml", rel: 'self' }/
  %link{ href: "#{Booklog.site_url}" }/
  %updated= Time.now.xmlschema
  %id= Booklog.site_url
  %author
    %name Frank Showalter

  - sorted_keys.each_with_index do |key, index|
    - break if index > 9
    - post = posts[key]
    %entry
      - if post.kind_of?(Booklog::Review)
        - review = post
        %title
          #{review.sequence}. #{review.title} by #{review.authors.to_sentence} #{grade_to_unicode_stars(grade: review.grade)}
        %link{ href: "#{Booklog.site_url}/reviews/#{review.slug}" }
        %id= "#{Booklog.site_url}/reviews/#{review.slug}"
      - else
        %title
          #{post.sequence}. #{post.title}
        %link{ href: "#{Booklog.site_url}features/#{post.slug}" }
        %id= "#{Booklog.site_url}features/#{post.slug}"
      %updated= post.date_finished.xmlschema
      %content{ type: 'html' }
        = CGI.escapeHTML(markdown(post.content))
