---
---
:ruby
  review = Booklog.reviews[review.sequence]
  content_for(:title, "#{review.title} by #{review.authors.to_sentence} Book Review")
  content_for(:description, "A review of the book #{review.title} by #{review.authors.to_sentence}")
- content_for(:js_head) do
  %script{ type: 'text/javascript', src: '//use.typekit.net/obz2qjv.js' }

%article.post{ itemscope: true, itemtype: 'http://schema.org/Review' }
  %h1.post-title{ itemprop: 'name' }= review.title
  %span.post-slug By #{review.authors.to_sentence}

  .rating-wrap{ itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating' }
    %meta{ content: Booklog::ConvertGradeToNumber.call(grade: review.grade), itemprop: 'ratingValue' }
    = grade_to_svg_stars(grade: review.grade)

  .post-content{ itemprop: 'reviewBody'}
    = markdown(review.content)

  .post-meta{ itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Book' }
    %span{ itemprop: 'name' }
      #{review.title}
    = " by "
    %span{ itemprop: 'author' }
      #{review.authors.to_sentence}
    = " (#{review.year_published}, pp. #{review.page_count}), read from #{review.date_started} to #{review.date_finished}."

  %meta{ content: published_date(review.date_finished), itemprop: 'datepublished'}
  %span{ itemprop: 'author', itemscope: true, itemtype: 'http://schema.org/Person' }
    %meta{ content: 'Frank Showalter', itemprop: 'name' }

